### Tuple Oprations

In [1]:
tup = (1,2,3,4,5,6)
print(tup)

(1, 2, 3, 4, 5, 6)

In [2]:
tup.count(5)

1

In [3]:
tup.index(3)

2

In [6]:
# i want add to in my tuple

print(tup)
print(type(tup))


P_tup = list(tup)
print(P_tup)
print(type(P_tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [10]:
P_tup.append(22)
print(P_tup)

[1, 2, 3, 4, 5, 6, 22, 22, 22, 22]

In [15]:
tup = tuple(P_tup)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6, 22, 22, 22, 22)
<class 'tuple'>

In [16]:
print(tup)

(1, 2, 3, 4, 5, 6, 22, 22, 22, 22)

In [20]:
list1 = list(tup)
print(list1)

[1, 2, 3, 4, 5, 6, 22, 22, 22, 22]

In [33]:
print(tup)

list1 = list(tup)
print(list1)

list1.extend([21,33,44,66,77,8])

print(list1)

tup = tuple(list1)
print(tup)

(1, 2, 3, 4, 5, 6, 22, 22, 22, 22, 21, 33, 44, 66, 77, 8)
[1, 2, 3, 4, 5, 6, 22, 22, 22, 22, 21, 33, 44, 66, 77, 8]
[1, 2, 3, 4, 5, 6, 22, 22, 22, 22, 21, 33, 44, 66, 77, 8, 21, 33, 44, 66, 77, 8]
(1, 2, 3, 4, 5, 6, 22, 22, 22, 22, 21, 33, 44, 66, 77, 8, 21, 33, 44, 66, 77, 8)

In [59]:
tup = ("apple","apple", "banana","cherry", "orenge", "kiwi", "mango")
print(tup)
print(type(tup))

list2 = list(tup)
print(list2)
print(type(list2))

list3 = insert["77","99","88"]
print(list3)

('apple', 'apple', 'banana', 'cherry', 'orenge', 'kiwi', 'mango')
<class 'tuple'>
['apple', 'apple', 'banana', 'cherry', 'orenge', 'kiwi', 'mango']
<class 'list'>

NameError: name 'insert' is not defined

In [35]:
tup = (10.3, 29.4, 39.4,99.9, 44.6, 3.5)
print(tup)

(10.3, 29.4, 39.4, 99.9, 44.6, 3.5)

In [41]:
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orenge', 'kiwi', 'mango')

In [43]:
tup[5]

'kiwi'

In [44]:
tup[0:4]

('apple', 'apple', 'banana', 'cherry')

In [45]:
tup[:7]

('apple', 'apple', 'banana', 'cherry', 'orenge', 'kiwi', 'mango')

In [53]:
len(tup[-7:])

7

In [55]:
tup[6]

'mango'

In [56]:
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orenge', 'kiwi', 'mango')