# Panads for ML

### What is Pandas?

1.It is a python library

2.Used to analyze data

pandas is a library used for working with data sets.

it has fuctions for analyzing , clenaing , exploring, 
and manipulating data

## Why Pandas?

pandas allows us to analyze big data and make conclusions based on stastistical theories.

pandas can clean messy data sets, and make them readable and relevant data is very important in data science.

pandas gives you answers about the data like:
    
    Ls  there a crrelation between two or more columns?
    max values ?
    min values

## Features

1. working with large data sheets
2. It is high prformance data analyze tool 
3. It is supports or load large data sheets and more 
flexible to use
4. pandas represent data in tabular(raws and columns)way
5. more efficeient with missing data 
6. It is used for indexing,slicing, subseting the large data 
7. we can merge and join two different dataset easily
8. we can rshape the dataset easily

### INSTALL PANDAS

In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [5]:
 pip install --upgrade pip

Requirement already satisfied: pip in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (23.0.1)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 5.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.2.1

In [6]:
import pandas as pd
import numpy as np

In [9]:
print(pd.__version__)

2.0.0

In [8]:
print(np.__version__)

1.24.2

#### Two data structures in pandas

1. Series : A one-dimentional labeled array capable of holding 
    any data type 
2. it is similar to acolumn in a predsheet or a SQL table 
3. DataFrame : A two-dimentinaol labeled data structure 
    with columns of potentially different types .
4. it is similar to a spredsheet , SQL table, or a dict of series Object

##### These data structres provide a lot of flexibility and power working with data in pandas

# Series

##### What is series

Pandas series is like a colum in a table
it is one dimentional array holding data of any type

In [23]:
s = pd.Series ([1,2,3,4,5,6,7,8,9])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [24]:
print(type(s))

<class 'pandas.core.series.Series'>

#### Acess element from series

In [25]:
s[0]

1

In [26]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [27]:
s[4]

5

#### You can give name to series index

In [28]:
dp = [10,20,30,40,50,60,70]
new_dp = pd.Series (dp, index=["A","B","C","D","E","F","G"])
new_dp

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [29]:
list1 = [1,2,3,4,5]
ns = pd.Series(list1,index = ["ABS","DEF","GHI","JKL","MNO"])
ns

ABS    1
DEF    2
GHI    3
JKL    4
MNO    5
dtype: int64

#### Access items using lables

In [30]:
new_dp

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [31]:
new_dp["A"]

10

In [32]:
new_dp["F"]

60

#### key /values Object as series

In [33]:
emp = {"Dipak":10,"Dipesh":20,"Dinesh":30}
emp1 = pd.Series(emp)
emp1

Dipak     10
Dipesh    20
Dinesh    30
dtype: int64

In [34]:
calories = {
            'day1': 500,
            'day2': 380,
            'day3': 450,
            'day4': 504, 
}

cal = pd.Series(calories)
cal

day1    500
day2    380
day3    450
day4    504
dtype: int64

In [35]:
cal['day2']

380

In [36]:
cal_new = pd.Series (cal,index =['day1','day2'])
cal_new

day1    500
day2    380
dtype: int64

###### Home work

In [54]:
import pandas as pd
import numpy as np

In [55]:
lst = [1,1.2,'abhi',2,2.2,'dipu',3,3.3,'samir',4,4.4]
lst1 = pd.Series(lst)
lst1

0         1
1       1.2
2      abhi
3         2
4       2.2
5      dipu
6         3
7       3.3
8     samir
9         4
10      4.4
dtype: object