# Python

## PYTHON Introduction

### What is Python?

Python is general purpose high level popular programming language. Python was developed by Guido Van Rossam at National Research Institute Netherlands, official relaese date of python is 20th Feb 1991

Python is versatile language, capable of running on multiple platforms, including Windows, macOS, and Linux.

Python offers a vast library of pre-built modules and tools, which make it easy to perform complex tasks with minimal coding efforts

##### Some of the most popular libraries of Python used in data science are:

#### NumPy:
   A library used for numerical computing with Python.
#### Pandas: 
   A library used for data manipulation and analysis.
#### Matplotlib:
   A library used for data visualization.
#### Scikit-learn:
   A library used for machine learning
#### TensorFlow:
   A library used for deep learning.

### Why Python is more popular in the world ?

### Features of Python :-
##### 1.Easy to Learn and Use -
Its code is easy to read and understand, which makes it easier to maintain and update. like english language.
##### 2.Expressive Language - 
which means that it is more understandable and readable.
##### 3.Interpreted Language -
Which means Python can be executed immediately without the need for compilation. i.e code will run line by line.This makes it easier to test and debug code.
##### 4.Cross-platform Language -
which meance capabale of running on multiple platforms, like windows, macOS, Linux etc.
##### 5.Free and Open Source - 
which meance that it's free to use and distribute. i.e no need to license. This makes it accessible to a wide range of users, including individuals, businesses, and educational institutions.
##### 6.Object-Oriented Language -
This means that it allows developers to use objects to represent and manipulate data, rather than just using functions and procedures.
class is blue print of object

##### 7.Extensible programming language -
This means that developers can extend the language by adding new modules or packages to it, which provide additional functionality and features beyond what is available in the core language.
##### 8.Large Standard Library -
which provides a wide range of modules and tools for various tasks which make it easy to perform complex tasks with minimal coding efforts
##### 9.Dynamically typed -
which means that the data type of a variable is determined at runtime. This allows for greater flexibility and makes it easier to write code
Applications

### Applications:-

###### Python is a versatile programming language with a wide range of applications in various domains.

###### Here are some of the most popular applications of Python:

#### 1.Web Development: 
    Python is used for developing web applications and web services. Popular web frameworks like Django and Flask are built using Python. e.g NASA Web
#### 2.Data Science: 
Python is widely used in data science for tasks such as data analysis, data visualization, and machine learning. Popular data science libraries like NumPy, Pandas, and Scikit-learn are built using Python.
#### 3.Artificial Intelligence:
Python is used for developing artificial intelligence and machine learning algorithms. Popular libraries like TensorFlow and Keras are built using Python.
#### 4.Scientific & numeric Computing:
Python is used for scientific computing and mathematical modeling. Popular libraries like SciPy and SymPy are built using Python.
#### 5.Automation and Scripting:
Python is used for automating tasks and scripting. It is widely used for tasks such as data processing, system administration, and network automation.
#### 6.Game Development: 
Python is used for game development. Popular game engines like Pygame and Panda3D are built using Python.
Desktop Application Development: Python is used for developing desktop applications. Popular GUI frameworks like PyQt and wxPython are built using Python.
#### 7.Education: 
Python is widely used in education as a teaching language for computer science and programming courses.
#### 8.Desktop Application Development: 
Python is used for developing desktop applications. Popular GUI frameworks like PyQt and wxPython are built using Python.
##### 9.Software Development:
##### 10.Business Applications:
##### 11.Console Based Application:
##### 12.Audio or Video based Applications:
##### 13.3D CAD Applications:

## Good to know python language
#### python include below poits

###### 1.Functional Programming Features from C
###### 2.Object Oriented Programming Features from C++
###### 3.Scripting Language Features from Perl & Shell Script
###### 4.Modular Programming Features from Modula-3

In [1]:
print ("Hello")
print("God")

Hello
God

Note: It is very simple to print hello in python, as compared to other programming languages, coding in python is really less time consuming than other programming languages

# Identifiers

In [2]:
1.Names in python are call as identifier,
2.Funtion name,variable name,module name , class are  identifire in python

SyntaxError: invalid decimal literal (1162620381.py, line 1)

###### RULES

In [ ]:
1. The first character of an identifier must be a letter (uppercase or lowercase) or an underscore (_). The rest of the characters can be letters, underscores, or digits (0-9).
If Identifier is start with Underscore (_) then it indicates it is private.
Identifier should not start with Digits.
Identifiers are case sensitive.
For example, "myVar" and "myvar" are two different identifiers.

Identifiers cannot be keywords or reserved words. because reserved keywords are words that have a special meaning in Python and cannot be used as identifiers.
Examples of reserved keywords in Python include "if", "else", "while", "for", "and", "or", "not", "in", "is", "class", "def", "return", "import", "from", "try", "except", "raise", "finally", and "assert".Special Notes
If identifier starts with '_' (single underscore) symbol,then it is private

If identifier starts with '__' (double underscore), indicate that it is a strongly private.

If the identifier starts and ends with "__" (double underscore) symbols, then such identifiers are language defined special name, which is also known as magic methods

e.g int , doit

###### examples of identifiers

x=10
y=20
_x =30

print(x)
print(y)
print(_x)

In [ ]:
name = "Python"
print("name :",name)
print('*'*90)
NAME = 'Python'
print('name :',NAME)
print('*'*90)
_NAME = 'Python'
print('_Name :',_NAME)
print('*'*90)
fname = 'Python'
print('Fname :',fname)
print('*'*90)
fname123 = 'Python'
print('fname123 :',fname123)
print('*'*90)
f_name_123 = 'python'
print('f_name_123 :',f_name_123)

In [ ]:
a = 10 
print('a =',a)
print('Type of a :',type(a))

print('*'*90)

fname = 'sikander'
print('type =', fname)
print('type of fname :',type(fname))

print('*'*90)
complex_number =1+2j
print('Complex_number :',type(complex_number))

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
"Pythonचं ध्यान, टिम पीटर्स यांचं

सुंदर शेपटी अशा होणारं श्रेयस्कर
स्पष्ट असलेलं, निहित अनुमानांपेक्षा श्रेयस्कर
साधा, कितीतरी सांगितलं असलं अशा कितीतरी जटिल असलेलं श्रेयस्कर
जटिल, कितीतरी संकटस्पद असलेलं अशा कितीतरी संकटस्पद असलेलं श्रेयस्कर
समतल, एकतर अंतर्जालात असलं अशा कितीतरी घन असलेलं श्रेयस्कर
विरासत, जलद असल्याचं महत्त्व असं कितीतरी स्पष्टपणे म्हणणे घेतंय.
विशेष प्रकारे नियमे तोडण्यासाठी प्रत्यक्षतेचं शक्ती असू नये.
परंतु व्यावसायिकतेने पवित्रतेला मान्यता असल्याने.
चुका नेहमीचे चुकून जाणार नाही.
परंतु प्रत्यक्षपणे चुकून जाणार असल्यास, ते उत्तम विचारलं जातं.
नामस्थान, एक महान विचार आहे - आम्ही अधिक करूया."

SyntaxError: unterminated string literal (detected at line 1) (1787880279.py, line 1)

### Data Types in Python

Data type of variable is the type of value inside that variable.

In python we do not need to mention the data type of variable, It automatically assigns data type

Python is a dynamically-typed language, which means that the data type of a variable is determined at runtime. Python has several built-in data types, including:

##### 1.Numbers: 
    Python supports integers, floating-point numbers, and complex numbers. For example, 42, 3.14, and 2 + 3j are all valid numbers in Python.
##### 2.Strings: 
    Strings are sequences of characters. They can be enclosed in single quotes ('...') or double quotes ("..."). For example, 'hello' and "world" are both valid strings.
##### 3.Booleans: 
    Booleans represent either true or false.
    The two possible values of a boolean are True and False.
##### 4.Lists: 
    Lists are ordered collections of items, which can be of different types. They are mutable, which means that you can add, remove, or modify elements in a list. For example, [1, 2, 3] and ['apple', 'banana', 'cherry'] are both valid lists.
##### 5.Tuples: 
    Tuples are similar to lists, but they are immutable, which means that you cannot modify them once they are created. They are often used to represent fixed collections of values. Tuples are enclosed in parentheses. For example, (1, 2, 3) is a tuple.
##### 6.Sets: 
    Sets are unordered collections of unique items. They are enclosed in curly braces. For example, {1, 2, 3} is a set.
##### 7.Dictionaries:
    Dictionaries are collections of key-value pairs. The keys are unique, and each key is associated with a value. Dictionaries are enclosed in curly braces, and the key-value pairs are separated by colons. For example, {'apple': 2, 'banana': 3, 'cherry': 5} is a dictionary.
##### 89.bytes:
##### 9.bytearray:
##### 10.range:
##### 11.None:
In addition to these built-in data types, Python also supports several data type modules, such as datetime, which provides objects to work with dates and times, and math, which provides functions to work with mathematical operations.

In [ ]:
var = 10
print('Output :',var,type(var))

# Keywords

##### Defination : keyswords are the system reserved words which can be used by user and can not be re-declared by user

 There are around 35 reserved keywords

##### False', 'None', 'True', 'peg_parser', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'

we can see these Keywords by using code in python 
     Import keyword,print(keyword.kwlist)

In [ ]:
import keyword
print(keyword.kwlist)
print("."*90)
print(len(keyword.kwlist))

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
print(len(keyword.kwlist))

35

# Integer

In [ ]:
var=10 
print('Output :',var,type(var))

### Types of Number System
1.Decimal number system

2.Binary Number System

3.Octal Number system

4.Hexadecimal Number System

In [ ]:
# octal numbers
var=0o0 # equivalent to decimal value 0
print(var,type(var))
print('*'*100)

var=0o1 # equivalent to decimal value 1
print(var,type(var))
print('*'*100)

var=0o2
print(var,type(var))
print('*'*100)

var=0o3
print(var,type(var))
print('*'*100)

var=0o4
print(var,type(var))
print('*'*100)

var=0o5
print(var,type(var))
print('*'*100)

var=0o6
print(var,type(var))
print('*'*100)

var=0o7
print(var,type(var))
print('*'*100)

var=0o10
print(var,type(var))
print('*'*100)


var=0o11 # equivalent to decimal value 9
print(var,type(var))
print('*'*100)

var=0o11111000
print(var,type(var))
print('*'*100)

In [ ]:
# Decimal to hex converison
input1 = 157
input2 = 200

output1 = hex(input1)
print('Decimal Number {} to octal number {}'.format(input1, output1))
output2 = hex(input2)
print('Decimal Number {} to octal number {}'.format(input2, output2))

In [ ]:
# Decimal to hex converison
input1 = 255
input2 = 200

output1 = hex(input1)
print('Decimal Number {} to octal number {}'.format(input1, output1))
output2 = hex(input2)
print('Decimal Number {} to octal number {}'.format(input2, output2))

In [ ]:
var=10.10
print('output:',var)
print(type(var))

In [5]:
print("Hello world")
print("weelcome to my channel")

Hello world
weelcome to my channel

In [6]:
# single line and multiline comment
'''
welcome to my youtube

'''

print("hello")

hello

In [7]:
#variable declaration
a =10
print (a)

10

In [8]:
print(a)

10

In [9]:
print(type(a))

<class 'int'>

In [10]:
tenth=10
b=40
c="krish"

In [11]:
type(c)

str

In [12]:
a1=10

In [13]:
first_name='krish'
print(first_name)

krish

In [14]:
# integer
a =10
type(a)

int

In [15]:
a+10

20

In [16]:
a*10

100

In [17]:
a-9

1

In [18]:
a%10

0

In [19]:
print(type(a))

<class 'int'>

In [20]:
a=10
b=20

print(a+b)

30

In [21]:
a/10

1.0

### Float

In [1]:
var = 10.10
print('output:',var)
print(type(var))

output: 10.1
<class 'float'>

In [2]:
a = 12.377
print(type(a))
print(a)

<class 'float'>
12.377

### Complex

In [3]:
com = 10 +20j #real+imag
print(com)
print(com.real)
print(com.imag)

(10+20j)
10.0
20.0

In [5]:
var = 1 + 2j
print("output:",var)
print(type(var))

output: (1+2j)
<class 'complex'>

### Complex

In [6]:
print("Real :", var.real)
print(type(var.real))
print("*"*90)
print("imaginary :",var.imag)
print(type(var.imag))

Real : 1.0
<class 'float'>
******************************************************************************************
imaginary : 2.0
<class 'float'>

## Boolean

In [7]:
var = True 
var_1 = False 
x = 'True'
print('Output:', type(var))
print(x,type(x))
print(var_1,type(var_1))

Output: <class 'bool'>
True <class 'str'>
False <class 'bool'>

In [8]:
print(int(True),int(False))

1 0

In [10]:
print(float(True),float(False))

1.0 0.0

In [12]:
print(int(True),int(False))

1 0

In [16]:
print(complex(True),complex(False))
print(complex(True,False))
print(complex(False,True))
c=0+0j
print(c)

(1+0j) 0j
(1+0j)
1j
0j

In [17]:
print(str(True))
print(str(False))

True
False

In [18]:
print(str(True))
print(str(False))

True
False

In [19]:
print(bool(3.1))
print(bool(0.3))
print(bool(0.0))

True
True
False

In [2]:
print(bool(""))
print(bool())
print(bool('don'))
print(bool(11))

False
False
True
True

In [4]:
print(bool(1+2j))
print(bool(2+0j))
print(bool(0+2j))
print(bool(0+0j))

True
True
True
False

In [8]:
# convting of int/str to bool
x = bool(100)
print('int to bool')
xx=bool(0)
print('int to bool')
print("*"*100)

y=bool(10.10)
print('float to bool:',y)
yy=bool(0.0)
print('float to bool')
print("*"*100)

z=bool("100")
print('string to bool:',z)
zz=bool("")
print('string to bool:',zz)
print("*"*100)


z = bool(1+0j)
print('complex to bool:',z)
zz=bool(4+2j)
print('complex to bool:',zz)
zzz=bool(0+0j) #at least one value should be required
print('complex to bool:',zzz)
zzzz=bool(0+2j)
print('complex to bool:',zzz)
print("*"*100)

int to bool
int to bool
****************************************************************************************************
float to bool: True
float to bool
****************************************************************************************************
string to bool: True
string to bool: False
****************************************************************************************************
complex to bool: True
complex to bool: True
complex to bool: False
complex to bool: False
****************************************************************************************************


# string



## string is sequence of characters e.g "This is string"

#### 1.string is a sequence of characters enclosed in quotes

#### 2.Strings in Python are immutable, which means you cannot change the contents of a string once it is created. However, you can create a new string by concatenating two or more strings together using the + operator or repeating a string using the * operator

#### Duplicates allowed

#### #4.store all the characters in string

#### Available methods in string:

#### 1.str.upper(): Returns a new string with all characters converted to uppercase.
#### 2.str.lower(): Returns a new string with all characters converted to lowercase.

#### 3.str.lower(): Returns a new string with all characters converted to lowercase.
#### 4.str.capitalize(): Returns a copy of the string with the first character capitalized
#### 5.str.title(): Returns a copy of the string with the first character of each word capitalized.
#### 6.len(str): Returns the length of the string.
#### 7.str.strip(): Returns a new string with leading and trailing whitespace removed.
#### 8.str.replace(): Returns a new string with all occurrences of a specified substring replaced with another substring.
#### 9.str.split(): Returns a list of substrings separated by a specified delimiter. i.e Returns a list of the words in the string, separated by whitespace.
#### 10.str.join(iterable): Joins the elements of an iterable (e.g., a list) with the specified string as the separator.
#### 11.str.casefold(): Converts string into lower case
#### 12.str.center(): Returns a centered string
#### 13.str.count(): Returns the number of times a specified value occurs in a string
#### 14.str.endswith(): Returns true if the string ends with the specified value
#### 15.str.find(): Searches the string for a specified value and returns the position of where it was found
#### 16.str.swapcase(): Swaps cases, lower case becomes upper case and vice versa
#### 17.str.startswith(): Returns true if the string starts with the specified value
#### 18.str.isalnum(): Returns True if all characters in the string 18.are alphanumeric
#### 19.str.isalpha(): Returns True if all characters in the string are in the alphabet
#### 20.str.isascii(): Returns True if all characters in the string are ascii characters
#### 21.str.isdecimal(): Returns True if all characters in the string are decimals
#### 22.str.isdigit(): Returns True if all characters in the string are digits
#### 23.str.isidentifier(): Returns True if the string is an identifier
#### 24.str.islower(): Returns True if all characters in the string are lower case
#### 25.str.isnumeric(): Returns True if all characters in the string are numeric
#### 26.str.isprintable(): Returns True if all characters in the string are printable
#### 27.str.isspace(): Returns True if all characters in the string are whitespaces
#### 28.str.istitle(): Returns True if the string follows the rules of a title
#### 29.str.isupper(): Returns True if all characters in the string are upper case

In [3]:
a = '               india is my country         '
print(a)

               india is my country

In [6]:
print(a.capitalize())

               india is my country

In [5]:
print(a.title())

               India Is My Country

In [7]:
print(a.strip())

india is my country

In [8]:
a.replace (a,"Bharat is my country")

'Bharat is my country'

In [14]:
b = a.split()
print(b)

AttributeError: 'float' object has no attribute 'split'

In [13]:
c = '_'
c.join(b)

NameError: name 'b' is not defined

In [15]:
b ='handless special cases like the german "B"  (sharp s) character'
print(b)
b.casefold

handless special cases like the german "B"  (sharp s) character

In [17]:
b.lower()

'handless special cases like the german "b"  (sharp s) character'

In [18]:
d = 'Dipak'
d.center(30)

'            Dipak             '

In [20]:
a.count('i')
a

AttributeError: 'float' object has no attribute 'count'

In [21]:
var = 'python3.9'
#when values from user : data type considered as string 
print('output:')
print(var)
print(type(var))

output:
python3.9
<class 'str'>

In [32]:
string = '''I am sorry , i connot provide information on specific individuals unless they are well-known public figures'''

In [33]:
string.upper()

'I AM SORRY , I CONNOT PROVIDE INFORMATION ON SPECIFIC INDIVIDUALS UNLESS THEY ARE WELL-KNOWN PUBLIC FIGURES'

In [34]:
string.lower()

'i am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [35]:
string.lower()

'i am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [36]:
string.capitalize()

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [37]:
len(string)

107

In [38]:
string.strip()

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [39]:
string.format()

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [40]:
string.replace('am','AM')

'I AM sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [41]:
string.split()

['I',
 'am',
 'sorry',
 ',',
 'i',
 'connot',
 'provide',
 'information',
 'on',
 'specific',
 'individuals',
 'unless',
 'they',
 'are',
 'well-known',
 'public',
 'figures']

In [42]:
string.casefold()

'i am sorry , i connot provide information on specific individuals unless they are well-known public figures'

casefold() not only converted the characters to lowercase but also handled the accented characters.

In [44]:
text = "Hello world"
result = text .casefold()
print(result)

hello world

In [45]:
string.index("sorry")

5

In [46]:
string.count('i')

11

In [47]:
string.find('on')

16

In [48]:
string.expandtabs(tabsize=10)

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [52]:
str1 = "Dipak\tjagadale"
str2 = str1.expandtabs(tabsize=100)
print(str2)

Dipak                                                                                               jagadale

In [53]:
string.isidentifier()

False

In [55]:
string.swapcase()

'i AM SORRY , I CONNOT PROVIDE INFORMATION ON SPECIFIC INDIVIDUALS UNLESS THEY ARE WELL-KNOWN PUBLIC FIGURES'

In [56]:
string.isnumeric()

False

In [57]:
b

'handless special cases like the german "B"  (sharp s) character'

In [58]:
b.endswith('g')

False

In [59]:
b.endswith(',')

False

In [63]:
b.find("german")

32

### String Slicing

#### String slicing is peaces of string usin some seperator , []this is slicing operator

In [65]:
str1 = "This tutorial is basically desigend for biggners"
str2='python'

In [69]:
str2[3],str2[0],str2[1]

('h', 'p', 'y')

In [70]:
str2*10

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [71]:
str1[::-1]

'srenggib rof dnegised yllacisab si lairotut sihT'

In [72]:
str2[::-1]

'nohtyp'

In [74]:
str1[-6:]

'ggners'

In [76]:
str2[-2:]

'on'

In [78]:
# string is immutable (we can't modify existing element)
print(str2)
# str2[0]='G'
print(str2)

python
python

In [80]:
str1 = "dat Science"
str2 = "Machine Learning"
str3 = "Deep Learning"
str4 = "Naturel Language Proceesing"
str5 = "Structured Query language"
print("1st string :",str1)
print("2nd string :",str2)
print("3rd string : ",str3)
print("4th string :",str4)
print("5th string :", str5)

1st string : dat Science
2nd string : Machine Learning
3rd string :  Deep Learning
4th string : Naturel Language Proceesing
5th string : Structured Query language

In [83]:
print("1st string :",str1)
print(str1[2:6],":",str1[-10:-6])
print(str1[::-1]) # reverse string
print("*"*90)

print("2nd string :",str2)
print(str2[5:10],":",str2[-11:-6])
print(str2[::2])#(strat index:endindex:step size)
print("*"*90) 

print("3rd string:",str3)
print(str3[0:10])
print("*"*90)

print("4th string :",str4)
print(str4[::5])
print("*"*90)

print("5th string :",str5)
print(str5[::5])

1st string : dat Science
t Sc : at S
ecneicS tad
******************************************************************************************
2nd string : Machine Learning
ne Le : ne Le
McieLann
******************************************************************************************
3rd string: Deep Learning
Deep Learn
******************************************************************************************
4th string : Naturel Language Proceesing
Nenecn
******************************************************************************************
5th string : Structured Query language
St yg

In [84]:
# string multiply
print(str1*2)
print(str2*3)
print(str3*4)
print(str4*5)
print(str5*6)

dat Sciencedat Science
Machine LearningMachine LearningMachine Learning
Deep LearningDeep LearningDeep LearningDeep Learning
Naturel Language ProceesingNaturel Language ProceesingNaturel Language ProceesingNaturel Language ProceesingNaturel Language Proceesing
Structured Query languageStructured Query languageStructured Query languageStructured Query languageStructured Query languageStructured Query language

## Type-Casting In datatypes

#### Def: conversion of one type of data into other type of data is called typecasting

int, float, str, boolean, complex, object

         int to float / complex / str
         float to int / complex / str
         str to int / float / complex >>> # (string contains only numbers)


         Note : can't convert complex to any other data type

#### 1. int to float /complex /string conversion

In [85]:
var = 1000 
print('<< integer to float conversion>>')
print("*"*90)
print('integer number:',var)
print('type of variable :',type(var))
a = float(var)
print('coverted intger to float :',a)
print('type of coverted number :',type(a))

<< integer to float conversion>>
******************************************************************************************
integer number: 1000
type of variable : <class 'int'>
coverted intger to float : 1000.0
type of coverted number : <class 'float'>

In [87]:
var = 1000 
print("<< intger to string conversion >>")
print('*'*90)
print('integer number :',var)
print('type of variable :',type (var))
a = str(var)
print("coverted intger to string :",a)
print('type of converted number :',type(a))

<< intger to string conversion >>
******************************************************************************************
integer number : 1000
type of variable : <class 'int'>
coverted intger to string : 1000
type of converted number : <class 'str'>

In [88]:
var = 1000
print('<< integer to complex conversion >>')
print("*"*90)
print('ineger number :',var)
print("type of variable :",type(var))
a = complex(var)
print('coverted to int to complex :',a)
print('type of converted number:',type(a))
print('real :',a.real)
print('imag :',a.imag)

<< integer to complex conversion >>
******************************************************************************************
ineger number : 1000
type of variable : <class 'int'>
coverted to int to complex : (1000+0j)
type of converted number: <class 'complex'>
real : 1000.0
imag : 0.0

#### 2. Float to int/complex/string conversion

In [89]:
var = 999.99
print('<< Float to int conversion >>')
print("*"*90)
print('float number :',type(var))
a = int(var)
print('coverted float to int :',a)
print('type of coverted number :',type(a))

<< Float to int conversion >>
******************************************************************************************
float number : <class 'float'>
coverted float to int : 999
type of coverted number : <class 'int'>

In [91]:
var = 999.99
print('<< float to complex conversion >>')
print('*'*90)
print('float number :',var)
print('type of variable :',type(var))
a = complex (var)
print('converted float to complex :',a)
print('type of converted number :',type(a))
print('real :',a.real)
print('imaginary :',a.imag)

<< float to complex conversion >>
******************************************************************************************
float number : 999.99
type of variable : <class 'float'>
converted float to complex : (999.99+0j)
type of converted number : <class 'complex'>
real : 999.99
imaginary : 0.0

In [93]:
var = 999.99 
print("<<  float to string conversion >>")
print('*'*90)
print('float number :',var)
print('type of variables  :',type(var))
a =str(var)
print('converted float to string :',a)
print('type of converted number :',type(a))
print('type of converted number :',type(a))

<<  float to string conversion >>
******************************************************************************************
float number : 999.99
type of variables  : <class 'float'>
converted float to string : 999.99
type of converted number : <class 'str'>
type of converted number : <class 'str'>

In [94]:
var = '10000'
print('<< string to int conversion >>')
print("*"*90)
print('string nnumber :',type(var))
print("type of variable :",type(var))
a = int(var)
print('converted string to int :',a)
print('type of converted number :',type(a))

<< string to int conversion >>
******************************************************************************************
string nnumber : <class 'str'>
type of variable : <class 'str'>
converted string to int : 10000
type of converted number : <class 'int'>

In [96]:
var = '10000'
print('<< string to float conversion >>')
print("*"*90)
print('string nnumber :',type(var))
print("type of variable :",type(var))
a = float(var)
print('converted string to float :',a)
print('type of converted number :',type(a))

<< string to float conversion >>
******************************************************************************************
string nnumber : <class 'str'>
type of variable : <class 'str'>
converted string to float : 10000.0
type of converted number : <class 'float'>

In [97]:
var = '10000'
print('<< string to complex  conversion >>')
print("*"*90)
print('string nnumber :',type(var))
print("type of variable :",type(var))
a = complex(var)
print('converted string to complex :',a)
print('type of converted number :',type(a))

<< string to complex  conversion >>
******************************************************************************************
string nnumber : <class 'str'>
type of variable : <class 'str'>
converted string to complex : (10000+0j)
type of converted number : <class 'complex'>

In [9]:
# floting

a = 190.5
a

190.5

In [23]:
print(type(a))

<class 'float'>

In [24]:
float(b)

20.0

In [25]:
##  boolean

a1=True
b1=False

In [26]:
type(a1)

bool

In [27]:
a1 | b1

True

In [28]:
# string

name1='krish'

print(name1)
print(type(name1))

krish
<class 'str'>

In [29]:
name1+ "naik"

'krishnaik'

In [30]:
name1 + str(1)

'krish1'

In [31]:
# complex number
j=1.0-2.3j
j

(1-2.3j)

In [32]:
print(j)
print(type(j))

(1-2.3j)
<class 'complex'>

In [33]:
print(j.real,j.imag)

1.0 -2.3

In [34]:
# Dynamic typing
a=10
a='krish'

In [35]:
# strong typing
a = 'KRish'

In [36]:
a+ "1"

'KRish1'

In [37]:
a+ str(1)

'KRish1'

In [38]:
# string formating

a=100
print("The value is -",a)

The value is - 100

In [39]:
first_name = "krish"
last_name = "naik"
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is krish and last name is naik

In [40]:
input()

67

'67'

In [41]:
input(prompt = "apna nam bata")

apna nam batadj

'dj'

In [5]:
r = 30.9
print(type(r))

d =int(r)
print(type(d))

f = 3 + 4j 
print(type(f))

<class 'float'>
<class 'int'>
<class 'complex'>

In [6]:
f.real

3.0

In [7]:
f.imag

4.0

In [9]:
print(int(True))

1

In [10]:
print(float(True))

1.0

In [12]:
print(complex(False))

0j

In [13]:
print(float(False))

0.0

In [ ]:
print(str()

In [15]:
str = "india"
print(str)

india

In [16]:
lst = [1,2,3,45,55]
print(lst)

[1, 2, 3, 45, 55]

In [20]:
lst[0]= "a"
print(lst)

['a', 2, 3, 45, 55]

In [22]:
str1 = "i m AI devloper"
print(str1)

i m AI devloper

In [23]:
str1*

'i m AI devloperi m AI devloperi m AI devloperi m AI devloper'

In [26]:
str1= "consistancy is the key of success"
print(str1)

      consistancy is the key of success

## OOPS

In [2]:
class student:
    fname = "Dipak"
    lname = "Jagadale"
    Phone = "8600261039"
    
    def display():
        print("student first name :",self.fname)
        print("student last name:",self.lname)
        print("student phone number:",self.phone)